
.reviewlist{
  margin: 0px auto 10px auto;
  width: 70vw;
  min-width: 320px;
  max-width: 800px;
  display: flex;
  .reviewlist__header{
    display: flex;
    flex-direction: column;
    width:115px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .reviewlist__header__text{
    margin: 10px 0px;
    font-size: 14px;
    color: #272B2F;
    font-weight: 600;
  }
  .reviewlist__header__date{
    font-size: 12px;
    color: #808991;
  }
}
.reviewlist__hr{
  width: 70vw;
  min-width: 320px;
  max-width: 800px;
}