.login_body{
    background-color: #ebf6ff;
}


.container{
    display: flex;
    align-items: center;
    height: 439px;
}

.form_box{
    width:360px;
    height: 309px;
    display: block;
    align-items: center;
    background-color: #ebf6ff;
    margin:auto;
    display:flex;
    flex-direction: column;
   padding: 24px 10px 24px 10px;
   

}

.from_group{
    margin: 5px;
}

.inner_form{
    border-radius: 5px;
}

.input_group{
    width: 100%;
    height: 50px;
    background-color: #e8f0fe;
    padding: 14px 18px 14px 18px;
    color: #000000;
    border: 0.5px solid #d6deeb;
}

.input_solo{
    width: 100%;
    height: 50px;
    background-color: #e8f0fe;
    padding: 14px 18px 14px 18px;
    color: #000000;
    border: 0.5px solid #d6deeb;
    margin: 5px;
    border-radius: 5px;
}


.signin_button{
    width: 100%;
    height: 50px;
    background-color: #f7fbff;
    color: #666666;
    border-radius: 5px;
    padding:16px 0px 16px 0;
    margin: 5px;
    border: 1px solid #d6deeb;
    
}
  
.login_button{
    width: 100%;
    height: 50px;
    background-color: #1f8ce6;
    color:#ffffff;
    border-radius: 5px;
    padding:16px 0px 16px 0;
    margin: 5px;
    border:none;
}
  